@import "variables.scss";
@import "mixins.scss";


/* Styles */
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: 300;
  color: $font-color-base;
  background-color: $bg;
  line-height: 1.4em;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

td {
  padding: 12px;
}

h2 {
  color: $vinBlue;
}
input.small { width: 46px; }

input.large {
  width: 150px;
}
